<div id="div-main-pic">
    <picture>
        <source media="(min-width: 960px)" srcset="/assets/images/main-high-def-2500-781.jpg 1x">
        <img id="default-background-pic" class="child" src="/assets/images/main-16-9-compressed.jpg"
            alt="Sunset over the pacific; The eastern most point in Portugal.  Taken during Wild Vibes yoga retreat that I attended."
            title="Portugal Sunset">
        <i>Photo by: <a href="http://monicajustesen.com/" target="_blank">Monica Justesen</a></i>
    </picture>
</div>