/*Smallest display for wide menu with 4 items across*/
@media only screen and (min-width:451px) {
  header, nav, footer{
    width:100%;
  }
  nav a{
    display:inline-block;
  }
  main {
    text-align: center;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  main #div-main-text{
    width: 40%;
    min-width: 200px;
  }
  #img-responsive{
    height:auto;
    width: auto;
    max-width: 240px;
    max-height: 160px;
  }
  main #div-main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}


/* @media only screen and (min-width: 960px){
  main {
    max-width: 1000px;
  }
} */

/*Higher than 570px*/
/* @media screen and (min-height: 800px) and (min-width: 960px) {
} */

@media screen and (min-height: 768px) and (min-width: 1024px) {
  main {
    max-width: 2500px;
  }
}
