@import url(http://weloveiconfonts.com/api/?family=brandico);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Cinzel);
/* zocial */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/*Phone sized styling*/
/*Prevent objects from overflowing container*/
img, embed, object, video{
    max-width: 100%;
    max-height: 100%;
}
/*older browser support*/
header, section, footer, aside, nav, article, figure, figcaption, main {
    display:block;
}

a {
    color:  #999999;
}

a:hover {
    font-weight: bold;
}
  
a:active {
    color: goldenrod;
    
}
  
a:visited {
    color: darkslategray;
}

header {
    background-color: LightGray;
    color: #282828;
}

body {
    text-align: center;
    color: LightGray;
    background-color: #282828;
    font-family: 'Oxegyn', arial, verdana, sans-serif;
    margin:auto;
}

h1, h2, h3, h4, h5{
    font-family: 'Cinzel', arial, verdana, sans-serif;
}

/*Header stuff*/
nav a{
    display:block;
    padding: .75em;
}
nav{
    background-color: #282828;
}
.navbarlink {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Oxegyn', arial, verdana, sans-serif;
}

/*Main middle content*/
main {
    max-width: 2500px;
}

main div{
    text-align: center;
    width: 100%;
    margin: auto;
}
