---
---
<!doctype html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive-default.css">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    <![endif]-->
    <meta charset="UTF-8">
    <meta name="description" content="Blog">
    <meta name="keywords" content="Blog">
    <meta name="author" content="Dan Kimball">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1 class="title_text">Think Clearly</h1>
    </header>
    <nav class="navbar_div">
        {% for item in site.data.navigation.docs %}
        <a href="{{ item.url }}"
            class="{% if item.url == page.url %}current{% else %}navbarlink{% endif %}">{{ item.title }}
        </a>
        {% endfor %}
    </nav>
    <main id="home_content" class="content">
        <!-- bottom -->
        <div id="div-main-pic">
            <picture>
                <source media="(min-width: 960px)" srcset="/assets/images/main-high-def-2500-781.jpg 1x">
                <img id="default-background-pic" class="child" src="/assets/images/main-16-9-compressed.jpg"
                    alt="Sunset over the pacific; The eastern most point in Portugal.  Taken during Wild Vibes yoga retreat that I attended."
                    title="Portugal Sunset">
                <i>Photo by: <a href="http://monicajustesen.com/" target="_blank">Monica Justesen</a></i>
            </picture>
        </div>
        <!-- top -->
        <div class="post-list">

            <!-- This loops through the paginated posts -->
            <ul>
                {% for post in paginator.posts %}
                <li><a class="postlink" href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            <!-- Pagination links -->
            <div class="pagination">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="previous">
                    ←
                </a>
                {% else %}
                <span class="previous">←</span>
                {% endif %}
                <span class="page_number ">
                    Page: {{ paginator.page }} of {{ paginator.total_pages }}
                </span>
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}" class="next">→</a>
                {% else %}
                <span class="next ">→</span>
                {% endif %}
            </div>


        </div>
    </main>
    <!-- <footer>
        <i>
            <span>
                <p class="author_signature">Site created by Dan K.</p>
            </span>
        </i>
    </footer> -->
    {% include footer.html %}
</body>

</html>