---
---
<!doctype html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive-default.css">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    <![endif]-->
    <meta charset="UTF-8">
    <meta name="description" content="Blog">
    <meta name="keywords" content="Blog">
    <meta name="author" content="Dan Kimball">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include navheader.html %}
    <main id="home_content" class="content">
        <!-- bottom -->
        {% include mainpic.html %}
        <!-- top -->
        <div class="post-list">
            <h2>
                <!-- Pagination links -->
                <div class="pagination">
                    {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="pagination-link">←</a>
                    {% endif %}
                    Posts
                    {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="pagination-link">→</a>
                    {% endif %}
                </div>
            </h2>
            <!-- This loops through the paginated posts -->
            <ul>
                {% for post in paginator.posts %}
                <li><a class="postlink" href="{{ post.url }}">
                        <span class="post-title">{{ post.title }}</span>
                        <span class="post-date">{{ post.date | date: "%a. %b %d, %y" }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div>
    </main>
    {% include footer.html %}
</body>

</html>