---
title: Learn Ashtanga
description: learn ashtanga yoga sequences in sanskrit
keywords: ashtanga, yoga, sequences, sanskrit
head_scripts:
  - <script type="module" src="/assets/js/yoga/main.js"></script>
---
<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    {% include navheader.html %}
    <main id="home_content" class="content">
        <h2 id="sequence-title">
            Learn Ashtanga
        </h2>
        <div id="yoga-sequences">
            <div id="ashtanga-sequences">
            </div>
            <div id="yoga-pose">
                <div id="name"></div>
                <div id="englishName"></div>
            </div>
        </div>
    </main>
    {% include footer.html %}
    <script type="module" src="/assets/js/base/hamburger-menu.js"></script>
</body>

</html>