---
---
<!doctype html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive-default.css">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    <![endif]-->
    <meta charset="UTF-8">
    <meta name="description" content="Blog">
    <meta name="keywords" content="Blog">
    <meta name="author" content="Dan Kimball">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include navheader.html %}
    <main id="home_content" class="content">
        <!-- bottom -->
        {% include mainpic.html %}
        <!-- top -->
        <div class="{{ page.content_class }}">
            <h1>{{ page.title }}</h1>
            <section>
                {{ content }}
            </section>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>