---
---
<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive-main-bottom-top.css">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    <![endif]-->
    <meta charset="UTF-8">
    <meta name="description" content="Blog">
    <meta name="keywords" content="Blog">
    <meta name="author" content="Dan Kimball">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
        <h1 class="title_text">Think Clearly</h1>
    </header>
    <nav class="navbar_div">
        {% for item in site.data.navigation.docs %}
          <a href="{{ item.url }}" 
            class="{% if item.url == page.url %}current{% else %}navbarlink{% endif %}">{{ item.title }}
          </a>
        {% endfor %}
    </nav>
    <main id="home_content" class="content">
        <!-- bottom -->
        <div id="div-main-pic">
          <picture>
            <source
              media="(min-width: 960px)"
              srcset="/assets/images/main-high-def.jpg 1x">
            <img id="blog-main-pic" src="/assets/images/main.jpg"alt="Sunset over the pacific; The eastern most point in Portugal.  Taken during Wild Vibes yoga retreat that I attended." title="Portugal Sunset">
          </picture>
        </div>
        <!-- top -->
        <div id="div-main-text" >
          <h1>{{ page.title }}</h1>
          <section>
          {{ content }}
          </section>
        </div>
    </main>
    <footer>
        <i>
          <span>
            <p>Photo by: <a href="http://monicajustesen.com/" target="_blank">Monica Justesen</a></p>
          </span>
          <span>
            <p class="author_signature">Site created by Dan K.</p>
          </span>
        </i>
    </footer>
  </body>
</html>
  