---
---
<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    <![endif]-->
    <meta charset="UTF-8">
    <meta name="description" content="Blog">
    <meta name="keywords" content="Blog">
    <meta name="author" content="Dan Kimball">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
        <h1 class="title_text">Thinking Clearly</h1>
    </header>
    <nav class="navbar_div">
        <!-- <a class="current" href="/">Home</a> 
        <a class="navbarlink" href="/blog/">Blog</a> -->
        {% for item in site.data.navigation.docs %}
          <a href="{{ item.url }}" 
            class="{% if item.url == page.url %}current{% else %}navbarlink{% endif %}">{{ item.title }}
          </a>
        {% endfor %}
    </nav>
    <main id="home_content" class="content">
        <!-- Left -->
        <div id="left">
          <img id="blog-main-pic" src="/assets/images/main.jpg"alt="Sunset over the pacific eastern most point in europe">
        </div>
        <!-- Middle -->
        <div id="middle" >
          <h1>{{ page.title }}</h1>
          <section>
          {{ content }}
          </section>
        </div>
        <!--Right -->
        <div id="right">
        </div>
    </main>
    <footer>
      &copy; Dan K.
    </footer>
  </body>
</html>
  