---
responsive_css: responsive-post.css
---
<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  {% include navheader.html %}
  <main id="home_content" class="content">
    <!-- Left -->
    <div id="left">
      <picture>
        <source media="(min-width: 960px)" srcset="/assets/images/main-16-9-compressed.jpg 1x">
        <img id="blog-main-pic" src="/assets/images/main-high-def-16-9-compressed.jpg"
          alt="Sunset over the pacific; The eastern most point in Portugal.  Taken during Wild Vibes yoga retreat that I attended."
          title="Portugal Sunset">
        <i>Photo by: <a href="http://monicajustesen.com/" target="_blank" rel="noopener noreferrer">Monica Justesen</a></i>
      </picture>
    </div>
    <!-- Middle -->
    <div id="middle">
      <section>
        {{ content }}
      </section>
    </div>
    <!--Right -->
    <div id="right">
    </div>
  </main>
  {% include footer.html %}
  <script type="module" src="/assets/js/base/hamburger-menu.js"></script>
</body>

</html>